@charset "UTF-8";
/**
 *大屏 超大屏 的显示样式
 */
@media screen and (min-width: 992px) {
  .list-toggle {
    display: none !important; }
  .showZone ul {
    flex-wrap: nowrap; }
  .showZone ul li {
    width: 20% !important; } }

/**
 *小屏 中屏 的显示样式
 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .navLeft {
    width: 85%;
    text-align: center; }
  .navRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.81); }
  .navRight a {
    color: white; }
  .showZone ul {
    justify-content: space-around !important; }
  .showZone ul li {
    width: 40%; } }

/**
 *超小屏的显示样式
 */
@media (max-width: 575px) {
  .navLeft {
    width: 85%;
    text-align: center; }
  .navRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.81); }
  .navRight a {
    color: white; }
  .showZone ul li {
    width: 100%; } }

/**
 *导航部分
 */
.navbar {
  padding: 1rem 0px;
  display: flex;
  justify-content: center; }

.navCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%; }

.navRight {
  display: flex;
  justify-content: flex-end;
  width: 40%; }

.navRight li {
  margin-left: 20px;
  color: white; }

.navRight li:hover {
  border-bottom: 2px solid white; }

.navRight li, .navLeft {
  height: 3rem;
  line-height: 3rem; }

.list-toggle {
  margin: 10px 0px; }

.navLeft {
  font-weight: 800;
  font-size: 35px; }

.navLeft > span {
  color: #000;
  margin-right: 5px; }

.navLeft > span + span {
  color: #00a8e0; }

/**
 *轮播部分
 */
.banner {
  height: 20rem;
  background-color: #ff9900; }

/**
 *分区部分
 */
.showZone {
  padding: 2rem 0px;
  display: flex;
  justify-content: center; }

.showZone ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between; }

.showZone ul li {
  height: 228px;
  padding: 20px; }

.line {
  border: 1px solid #00a8e0;
  width: 3rem;
  margin: 1rem 0px; }

.fa-home, .fa-cubes, .fa-heart-o, .fa-calendar {
  margin-bottom: 1rem; }
