@import "var";

/**
 *大屏 超大屏 的显示样式
 */
@media screen and  (min-width: 992px) {
    
    //大屏隐藏按钮
    .list-toggle {
        display: none !important;
    }

    //分区展示showZone部分 大屏为 4个 
    .showZone ul {
        flex-wrap: nowrap
    }
    .showZone ul li {
        width: 20% !important;
    }


    //图文展示 大屏时 图片和细节平分
    .content-item-detail,.content-item-img {
        width: 50%;
        padding: 0px 1rem;
    }

    //透明背景部分
    //设置内容的大小
    .transBox div {
        padding: 0px 1rem;
        height: 356px;
    }
    .transBox div:first-child {
        width: 186px;
    }
    .transBox div:nth-child(2),.transBox div:last-child {
        width: 248px;   
    }
    }
    

/**
 *小屏 中屏 的显示样式
 */
 @media screen and  (min-width: 576px) and (max-width: 991px) {
     
    //小屏中屏 将logo居中，将导航挤到第二行显示
    .navLeft {
        width: 85%;
        text-align: center;
    }
    //第二行的细节处理
    .navRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //第二行强制占满
        width: 100% !important;
        //设置到第二行的颜色变成黑色
        background-color: rgba(0, 0, 0, 0.81);
    }
    .navRight a {
        color: white;
    }

    //分区展示showZone部分 中屏一行显示两个 居中
    .showZone ul {
        justify-content: space-around !important;
    }
    .showZone ul li {
        width: 40%;
    }

    

 
    //图文展示

    //中屏时 细节全占 图片隐藏
    // .content-item-detail {
    //     width: 100%;
    //     padding: 0px 1rem;
    // }
    // .content-item-img {
    //     display: none;
    // } 需求错误
    .content-item {
        flex-flow: column nowrap;
    }
    .content-item-img {
        margin-top: 1rem;
        height: 340px !important;
    }
    .content-item-img img {
        width: 100%;
        height: 100%;
    }

    /**
    *透明背景栏
    */
    .transBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .transBox div {
        width: 80% !important;
    }
    // 清楚第一个 p的下边距
    .leftFont>p {
        margin-bottom: 0px !important;
    }
    

}

/**
 *超小屏的显示样式
 */
 @media (max-width: 575px) {


    //超小屏与小中屏 导航样式相同部分
    .navLeft {
        width: 85%;
        text-align: center;
    }
    .navRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //第二行强制占满
        width: 100% !important;
        //设置到第二行的颜色变成黑色
        background-color: rgba(0, 0, 0, 0.81);
    }
    .navRight a {
        color: white;
    }


    //分区展示showZone部分
    .showZone ul li {
        width: 100%;
    }

     //图文展示
    //小屏时 细节全占 图片隐藏 同中屏
    // .content-item-detail {
    //     width: 100%;
    //     padding: 0px 1rem;
    // }
    // .content-item-img {
    //     display: none;
    // }需求分析错误
    .content-item {
        flex-flow: column nowrap;
    }
    .content-item-img {
        margin-top: 1rem;
        width: 100%;
    }
    .content-item-img img {
        width: 100%;
        height: 100%;
    }

     /**
    *透明背景栏
    */
    .transBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .transBox div {
        width: 80% !important;
    }
    // 清楚第一个 p的下边距
    .leftFont>p {
        margin-bottom: 0px !important;
    }

}


/**
 *导航部分
 */
.navbar {
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
}
.navCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}
//右侧导航
.navRight {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
//间距
.navRight li {
    margin-left: 20px;
    color:white;
}
//为右侧导航添加hover效果
.navRight li:hover {
    border-bottom: 2px solid white;
}
//设置行高垂直居中对齐
.navRight li,.navLeft {
    height: 3rem;
    line-height: 3rem; 
}
.list-toggle {
    margin: 10px 0px; 
}
//logo加粗 字体变大
.navLeft {
    font-weight: 800;
    font-size: 35px;
}
//logo 颜色组成
.navLeft>span {
    color: $font000;
    margin-right: 5px;
}
.navLeft>span+span {
    color: $fontBlue;
}




/**
 *轮播部分
 */

.banner {
    // height: 950px;
    background-color: $fontOrange;
}
.bannerImg {
    width: 100%;
    display: block;
}



/**
 *分区部分
 */
.showZone {
    padding: 2rem 0px;
    display: flex;
    justify-content: center;
}
.showZone ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.showZone ul li {
    // width: 24%;
    height: 228px;
    padding: 20px;
}
//蓝线
.line {
    border: 1px solid $fontBlue;
    width: 3rem;
    margin: 1rem 0px;
}
//字体图标设置
.fa-home,.fa-cubes,.fa-heart-o,.fa-calendar {
    margin-bottom: 1rem;
}


/**
*图文展示部分
*/


//设置上下内边距,弹性布局 内容居中
.articleShow {
    padding: 3rem 0px;
    display: flex;
    justify-content: center;   
}
.content {
    width: 75%;
}
//设置 articleShow 下内容标题
.content>h3 {
    font-weight: 800;
    font-size: 2.5rem;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.26);
    letter-spacing: 1px;
}
//内容content内标题上小文字设置
.content>span {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: $fontOrange;
    text-shadow: 1px 1px 3px rgb(209, 157, 35);
    letter-spacing: 1px;
    margin-bottom: 0.4rem;
}
//具体内容小块为弹性 尺寸在媒体设置
    
.content-item {
    display: flex;
    flex-wrap: nowrap;
}
//除了第一排 所有项加上边距 1rem
.content-item:not(.content:first-child) {
    margin-top: 1rem;
}

//内容detail内标题设置
.content-item-detail>h4 {
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.content-item-detail {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content-item-detail .line {
    background-color: $fontOrange;
}
.content-item-detail>h4,.content-item-detail>.btn {
    margin: 1.5rem 0px;
}
//按钮绘制
.btn {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: $fontOrange;
    border: 1px solid transparent;
    padding: 0.375rem 1.1rem;
    border-radius: 0.25rem;
    box-shadow: 0px 10px 2.5rem 0px #ccc; 
}
//content-item-img 下的内容设置
.content-item-img {
    overflow: hidden;
}
.content-item-img {
    height: 18rem;
}
.content-item-img img{
    height: 105%;
}
.content-item-img:hover img {
    transition: all 0.5s;
    transform: translate(-3px,-3px);
}
/**
*透明背景栏
*/
.transBg {
    // height: 40%;
    background: url("../images/g4.jpg") no-repeat fixed bottom right/cover;
}
.transBox {
    background-color: rgba(22, 122, 192,0.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4.5rem 0px;
    
}

//设置各个盒子的字体颜色为白色
.leftFont h5,.transBox p {
   color: rgba(255, 255, 255, 0.75);
   line-height: 2.3;
   font-size: 0.85rem;
}
.leftFont h5 {
    font-size: 17px;
    color: white !important;
    text-transform: uppercase;
}
.leftFont p{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 3rem;
    word-wrap: wrap;
    margin-top: 1.18rem;
    text-transform: uppercase;
    color: white !important;
}
.transBox p {
    margin-bottom: 1rem;
}

/**
*图片集合
*/
.photosBox {
    background-color: $fontOrange;
    display: flex;
    justify-content: center;
    padding: 5rem 0px;
    
}
.photosBox .photosItem {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.photosItem div {
    width: 50%;
    
}
.photosItem div:first-child  {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}
.photosItem div:first-child div {
    display: flex;
}
.photosItem div:first-child div:first-child {
    padding-right: 0.5rem;
}
.photosItem div:nth-child(2) {
    padding-bottom: 0.5rem;
}
.photosItem div:last-child {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.photosItem div:last-child div:last-child {
    padding-left: 0.5rem;
}
.photosItem img {
    width: 100%;
    height: auto;
}