@import "var";

// ******************************main HOME页面******************
@media screen and (min-width:993px) {

    /**
    *轮播图文区
    */
    // 超大屏359px的内容高度
    // 每块轮播的内容设置
    .imgTextItem div {
        height: 359px;
    }
    .imgTextItem div p {
        height: 157px !important;
    }
    .shade {
        width: 40% !important;
    }
}
/**
 *大屏 超大屏 的显示样式
 */


@media screen and  (min-width: 992px) {
    
    //大屏隐藏按钮
    .list-toggle {
        display: none !important;
    }

    //分区展示showZone部分 大屏为 4个 
    .showZone ul {
        flex-wrap: nowrap
    }
    .showZone ul li {
        width: 20% !important;
    }


    //图文展示 大屏时 图片和细节平分
    .content-item-detail,.content-item-img {
        width: 50%;
        padding: 0px 1rem;
    }

    //透明背景部分
    //设置内容的大小
    .transBox div {
        padding: 0px 1rem;
        height: 356px;
    }
    .transBox div:first-child {
        width: 186px;
    }
    .transBox div:nth-child(2),.transBox div:last-child {
        width: 248px;   
    }

    /**
        轮播图文区
    */
    //超大屏380px的内容高度
    //每块轮播的内容设置
    .imgTextItem div {
        height: 380px;
    }
    .imgTextItem div p {
        height: 209px;
    }

    
    }
   
    


/**
 *小屏 中屏 的显示样式
 */
 @media screen and  (min-width: 576px) and (max-width: 991px) {
     
    //小屏中屏 将logo居中，将导航挤到第二行显示
    .navLeft {
        width: 85%;
        text-align: center;
    }
    //第二行的细节处理
    .navRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //第二行强制占满
        width: 100% !important;
        //设置到第二行的颜色变成黑色
        background-color: rgba(0, 0, 0, 0.81);
    }
    .navRight a {
        color: white;
    }

    //分区展示showZone部分 中屏一行显示两个 居中
    .showZone ul {
        justify-content: space-around !important;
    }
    .showZone ul li {
        width: 40%;
    }

    

 
    //图文展示

    //中屏时 细节全占 图片隐藏
    // .content-item-detail {
    //     width: 100%;
    //     padding: 0px 1rem;
    // }
    // .content-item-img {
    //     display: none;
    // } 需求错误
    .content-item {
        flex-flow: column nowrap;
    }
    .content-item-img {
        margin-top: 1rem;
        height: 340px !important;
    }
    .content-item-img img {
        width: 100%;
        height: 100%;
    }
    .content-item-img>.shade {
        background-color: $fontOrange;
        width: 20% ;
    }
    .content-item-img>.shade::before {
        font-size: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }


    /**
    *透明背景栏
    */
    .transBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .transBox div {
        width: 80% !important;
    }
    // 清楚第一个 p的下边距
    .leftFont>p {
        margin-bottom: 0px !important;
    }
    /**
    *轮播图文区
    */
    //中屏幕高度变成416px
    //每块轮播的内容设置

    //中屏 全屏显示
    .imgTextItem {
        flex-direction: column;
        padding: 2rem 0px;
    }
    .imgTextItem div {
        width: 100% !important;
        padding: 10px 1.5rem;
    }
    .imgTextItem div img{
       width: 100%;
       height: auto;
    }

    .footerItem>div>img {
        width: 120px !important;
        height: 120px !important;
    }
    

}

/**
 *超小屏的显示样式
 */

 @media (max-width: 575px) {


    //超小屏与小中屏 导航样式相同部分
    .navLeft {
        width: 85%;
        text-align: center;
    }
    .navRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //第二行强制占满
        width: 100% !important;
        //设置到第二行的颜色变成黑色
        background-color: rgba(0, 0, 0, 0.81);
    }
    .navRight a {
        color: white;
    }


    //分区展示showZone部分
    .showZone ul li {
        width: 100%;
    }

     //图文展示
    //小屏时 细节全占 图片隐藏 同中屏
    // .content-item-detail {
    //     width: 100%;
    //     padding: 0px 1rem;
    // }
    // .content-item-img {
    //     display: none;
    // }需求分析错误
    .content-item {
        flex-flow: column nowrap;
    }
    .content-item-img {
        margin-top: 1rem;
        width: 100%;
    }
    .content-item-img img {
        width: 100%;
        height: 100%;
    }

    .content-item-img>div.shade {
        background-color: $fontGreen;
        width: 20% ;
    }
    .content-item-img>div.shade::before {
        font-size: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

    
     /**
    *透明背景栏
    */
    .transBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .transBox div {
        width: 80% !important;
    }
    // 清楚第一个 p的下边距
    .leftFont>p {
        margin-bottom: 0px !important;
    }

    /**
    *图片集合
    */
    //设置图面总盒子的宽度
    .photosBox .photosItem {
        flex-direction: column;
    }
    //将大盒子分为4个小盒子 每排一个
    .photosItem div {
        width: 100% !important;
        overflow: hidden;
    }
    //设置第一个和最后一个盒子 图片缝隙清除
    .photosItem div:first-child a:last-child {
        padding-right: 0px !important;
    }
    .photosItem div:last-child a:first-child {
        padding-left: 0px !important;
    }
    .photosItem div:nth-child(2) {
        padding-bottom: 0.5rem !important;
    }
    /**
    *轮播图文区
    */
    //494px
    //每块轮播的内容设置
    
    .imgTextItem {
        flex-direction: column;
        padding: 2rem 0px;
    }
    .imgTextItem div {
        width: 100% !important;
    }
    .carouselImgText {
        padding: 0px !important;
    }
    .carouselItem h3{
        font-size: 1.6em !important;
    }
    
    .footerItem>div>img {
        width: 100px !important;
        height: 100px !important;
    }


}




// **************************************************公共部分**********************************************************


/**
 *导航部分
 */
.navbar {
    padding: 1rem 0px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

// 用来添加的类  改变位置状态
.navbarLC {
    top: 5rem;
    left: 0px;
    background-color: white;
}
.navbarLC .navRight>li>a {
    color: black;
}

.navCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}
//右侧导航
.navRight {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
//间距
.navRight li {
    margin-left: 20px;
    color:white;
}
//为右侧导航添加hover效果
.navRight li:hover {
    border-bottom: 2px solid white;
    color: rgb(0, 168, 224) !important;
}
.navRight li:hover a{
    color: rgb(0, 168, 224) !important;
}
.navRight a {
    color: white;
}
//设置行高垂直居中对齐
.navRight li,.navLeft {
    height: 3rem;
    line-height: 3rem; 
}
.list-toggle {
    margin: 10px 0px; 
}
//logo加粗 字体变大
.navLeft {
    font-weight: 800;
    font-size: 35px;
}
//logo 颜色组成
.navLeft>span {
    color: $font000;
    margin-right: 5px;
}
.navLeft>span+span {
    color: $fontBlue;
}




/**
 *轮播部分
 */

.banner {
    height: 920px;
    background-color: $fontOrange;
}
// 轮播图片
.bannerImg {
    height: 920px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important; 
    position: relative;
}
.bannerImg1 {
    background-image: url(../images/1.jpg);
}
.bannerImg2 {
    background-image: url(../images/2.jpg);
}
.bannerImg3 {
    background-image: url(../images/4.jpg);
}

// 轮播图片内的盒子 里面的内容盒子
.imgContent {
    position: absolute;
    padding: 36px;
    bottom: 0px;
    left: 0px;
    width: 43%;
    background: $fontOrange;
}
.imgContent>h2 {
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    font-weight: 800;
    margin: 36px 0 18px 0;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.26);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;

}
.imgContent>p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12px;
    letter-spacing: 7px;
    color: #fff;
}

// 轮播图 分页自定义
.swiper-pagination {
    width: 25px;
    z-index: 10;
    bottom: 20px;
    left: 50%;
    bottom: 30px !important;
    z-index: 20 !important;
}
.swiper-pagination>span {
    width: 25px;
    height: 25px;
}


// 轮播图下一页 上一页自定义
.swBtn {
    border: 2px solid white;
    position: relative;
}
.swiper-button-prev.swBtn>i {
    position: absolute;
    right: 5px;
}
.swiper-button-next.swBtn>i {
    position: absolute;
    left: 5px;
}

/**
 *分区部分
 */
.showZone {
    padding: 2rem 0px;
    display: flex;
    justify-content: center;
}
.showZone ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.showZone ul li {
    // width: 24%;
    height: 228px;
    padding: 20px;
}
//蓝线
.line {
    border: 1px solid $fontBlue;
    width: 3rem;
    margin: 1rem 0px;
}
//字体图标设置
.fa-home,.fa-cubes,.fa-heart-o,.fa-calendar {
    margin-bottom: 1rem;
}


/**
*图文展示部分
*/


//设置上下内边距,弹性布局 内容居中
.articleShow {
    padding: 3rem 0px;
    display: flex;
    justify-content: center;   
}
.content {
    width: 75%;
}
//设置 articleShow 下内容标题
.content>h3 {
    font-weight: 800;
    font-size: 2.5rem;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.26);
    letter-spacing: 1px;
}
//内容content内标题上小文字设置
.content>span {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: $fontOrange;
    text-shadow: 1px 1px 3px rgb(209, 157, 35);
    letter-spacing: 1px;
    margin-bottom: 0.4rem;
}
//具体内容小块为弹性 尺寸在媒体设置
    
.content-item {
    display: flex;
    flex-wrap: nowrap;
}
//除了第一排 所有项加上边距 1rem
.content-item:not(.content:first-child) {
    margin-top: 1rem;
}

//内容detail内标题设置
.content-item-detail>h4 {
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.content-item-detail {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content-item-detail .line {
    background-color: $fontOrange;
}
.content-item-detail>h4,.content-item-detail>.btn {
    margin: 1.5rem 0px;
}
//按钮绘制
.btn {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: $fontOrange;
    border: 1px solid transparent;
    padding: 0.375rem 1.1rem;
    border-radius: 0.25rem;
    box-shadow: 0px 10px 2.5rem 0px #ccc; 
    transition: all .5s;
}
.btn:hover {
    background-color: $fontBlue;
}
//content-item-img 下的内容设置

.content-item-img {
    overflow: hidden;
    height: 18rem;
    position: relative;
}

.content-item-img img{
    height: 105%;
}
.content-item-img:hover img {
    transition: all 0.5s;
    transform: translate(-3px,-3px);
}
.content-item-img>img {
    position: absolute;
    top: 0px;
    left: 0px;
}
.shade {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 13%;
    height: 100%;
    opacity: 1;
    transition: all .5s;
    background-color: white;
}
.shade>a {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100% !important;
    height: 100% !important;
}
.content-item-img:hover>.shade{
    width: 100%;
    opacity: .85;
    background-color: $font333;
    line-height: 100%;
}
.shade::before {
    content: '\f144';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 0px;
    font-weight: 800;
    top: 50%;
    // transform: translate(0,-50%);
    // left: 50%;
}
.content-item-img:hover>.shade::before {
    font-size: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
}


/**
*透明背景栏
*/
.transBg {
    // height: 40%;
    background: url("../images/g4.jpg") no-repeat fixed bottom right/cover;
}
.transBox {
    background-color: rgba(22, 122, 192,0.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4.5rem 0px;
    
}

//设置各个盒子的字体颜色为白色
.leftFont h5,.transBox p {
   color: rgba(255, 255, 255, 0.75);
   line-height: 2.3;
   font-size: 0.85rem;
}
.leftFont h5 {
    font-size: 17px;
    color: white !important;
    text-transform: uppercase;
}
.leftFont p{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 3rem;
    word-wrap: wrap;
    margin-top: 1.18rem;
    text-transform: uppercase;
    color: white !important;
}
.transBox p {
    margin-bottom: 1rem;
}

/**
*图片集合
*/
//设置图面总盒子居中
.photosBox {
    // background-color: $fontOrange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px;   
}
.photosBox span ,.carouselItem span{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.35em;
    color: #00a8e0;
    letter-spacing: 4px;
    margin-bottom: 0.6rem;
}
.photosBox h3,.carouselItem h3{
    line-height: 2rem;
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.26);
    font-size: 2.5em;
    color: #2b2b2b;
    font-weight: 800;
    margin-bottom: 3.5rem;
}
//设置图面总盒子的宽度
.photosBox .photosItem {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
//讲大盒子分为4个小盒子 每排2个
.photosItem div {
    width: 50%;
    overflow: hidden;
}
//设置每个图片占满，同时高度自适应
.photosItem img {
    width: 100%;
    height: auto;
}
//第一个和最后一个盒子 使用弹性布局
.photosItem div:first-child,.photosItem div:last-child{
    display: flex;
    justify-content: space-around;
}
//弹性子项宽度对半
.photosItem div:first-child a,.photosItem div:last-child a{
    width: 50%;
    display: block;
}
//设置第一个和最后一个盒子 图片缝隙
.photosItem div:first-child a {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}
.photosItem div:last-child a {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
/*
*轮播图文区
    思路 屏幕四个尺寸 对应的高的值不一样
    写四个媒体查询
*/
.carouselImgText {
    padding: 3rem 0px;
    display: flex;
    justify-content: center;
}
//让内容一直居中显示
.carouselImgText .carouselItem {
    width: 80%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// 自定义轮播图文区
.carouselItem {
    overflow: hidden !important;
}
.page {
    display: flex;
    justify-content: center;
    padding: 2rem 0px;

}
.page>span {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    background-color: orange;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
}

.imgTextItem {
    display: flex;
    width: 100%;
}
//每块轮播的内容设置 根据宽度设置四个媒体查询
.imgTextItem div {
    width: 25%;
    overflow: hidden;
    padding: 0 1rem;
}
.imgTextItem>div>img {
    width: 100%;
    height: auto;
}
.imgTextItem div p {
    padding: 1.5rem 1rem;
    font-size: 0.82rem;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: #f7f7f7;
}
.bottom {
    height: 300px;
}

/**
*脚部部分
*/
.footer {
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
}
.footer .footerItem{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
}
.footerItem>div>img {
    width: 200px;
    height: 200px;
    margin: 0 10px;
}




// ************************************SERVER 页面***************************

.server {
    color: #263238;
    background-image: url(../images/2.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
}
// 清除浮动带来的影响
.blockArticle::after {
    content: '';
    clear: both;
    display: block;
}

// 头部信息模块
.introduction {
    padding: 100px 200px;
    font-size: 48px;
    text-align: left;
}
.introduction a {
    font-weight: 800;
    color: #8BC34A;
}
.introduction strong {
    font-weight: 900;
    color: black;
}

// 块级文章模块

// 各级模块间的布局
.blockArticle {
    position: relative;
    width: 100%;
}
.blockArticle>article {
    float: left;
}
article.ate1,article.ate4  {
    float: right;
    width: 33.33%;
}
article.ate4  {
    clear: right;
}

article.ate5,article.ate6,article.ate3,article.ate2 {
    width: 66.66%;
}



// 每个文章模块下的成员具体设置

article>a {
    width: 100%;
    height: 100%;
    display: flex;
}
article .artBox,article .imgBox {
    width: 50%;
    height: 100%;
    // overflow: hidden;
    background: #fff;
    position: relative;
}
.imgBox>img{
    width: 100%;
    height: 100%;
}
.artBox>p>p {
    text-transform:uppercase;
    font-family: Righteous, helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(44, 44, 44);
}

// 当.ate1 和ate4 弹性布局方向发生变化
article.ate1>a,article.ate4>a {
    flex-flow: column wrap;
    
}
article.ate1 div,article.ate4 div {
    width: 100%;
    height: 50%;
}
.pct {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center!important;
    color: #585757;
    overflow: hidden;
}
.pct>h2 {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #000000;
    font-family: "hanskendrick";
    font-weight: 600;
    line-height: 1.5;
    margin-top: 3rem;
}
.pct>h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background: #ababab;
}
.pct>p {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.6;
    padding: 1rem 5rem;
    overflow: hidden;
}



// 画三角
.ate1 .artBox::before,.ate4 .artBox::before {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #fff;
    content: '';
    display: block;
    height: 0;
    margin: auto;
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    width: 0;
}

.ate2 .artBox::before,.ate5 .artBox::before {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 22px solid #fff;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: -22px;
    width: 0;
}
.ate3 .imgBox::before,.ate6 .imgBox::before {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #fff;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right:0;
    left: 0;
    width: 0;
}

.artBox>.pct {
    width: 100%;
    height: 80%;
}
.serverContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.serverContent footer {
    width: 100%;
    background: orange url("../images/1.jpg") no-repeat center/cover;
    clear: both;
}





// 子页面的媒体查询
// @media screen and (min-width:993px)
//@media screen and  (min-width: 992px)
// @media screen and  (min-width: 576px) and (max-width: 991px)
// @media (max-width: 575px)


// 中小屏
 @media screen and  (min-width: 752px) and (max-width: 1409px) {
    .pct>p {
        font-size: 1.0em;
        font-weight: 400;
        line-height: 1.4;
        padding: 10px 2rem;
    }
    .pct>h2 {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 25px;
        font-size: 15px;
        color: #000000;
        font-weight: 600;
        line-height: 1.5;
    }
    .artBox>.pct {
        width: 100%;
        height: 57%;
    }


 }


//  超小屏
 @media (max-width: 751px) {
    .pct>p {
        font-size: 1.0em;
        font-weight: 400;
        line-height: 1.4;
        padding: 10px 2rem;
    }
    .pct>h2 {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 25px;
        font-size: 25px;
        color: #000000;
        font-family: "hanskendrick";
        font-weight: 600;
        line-height: 1.5;
    }

    .artBox>.pct {
        width: 100%;
        height: 50%;
    }
    article>a>div {
        height: 100% !important;
        width: 50% !important;
    }

 }
 @media (max-width: 725px)  {
    article.ate1,article.ate4 {
        float: left;
    }
    article.ate1>a,article.ate4>a{
        flex-flow: row wrap;
    }
    article>a>div {
        height: 100% !important;
        width: 50% !important;
    }

 }
